---
layout: default
---

<small style="color: rgb(119 157 49)">{{ page.date | date: "%B %-d, %Y" }}, {{ page.version | default: "v1.0" }}</small>
<h1>{{ page.title }}</h1>

<p class="view" style="color: rgb(119 157 49)"><a href="/interlocutors.html#{{ page.author }}">{{ page.author }}</a></p>

{{content}}
<hr>
<div style="
    color: beige;
    text-align: center;
    font-size: larger;
    margin-top: 25px;
">We would love to hear from you...</div>
<div data-paperform-id="seektruth-comments"></div>
<script>(function() {var script = document.createElement('script'); script.src = "https://paperform.co/__embed.min.js"; document.body.appendChild(script); })()</script>

{% if page.tags %}
      <small style="color: rgb(119 157 49)">tags: 
      {% for tag in page.tags %}
          {% assign tag_posts = site.tags[tag] %}
          {% if tag_posts.size > 1 %}
            <em><a href="/tags/{{ tag | slugify }}.html">{{ tag }}</a>{% unless forloop.last %} - {% endunless %}</em>
          {% else %}
            <em>{{ tag }}{% unless forloop.last %} - {% endunless %}</em>
          {% endif %}
      {% endfor %}
      </small>
{% endif %}

<style>
mjx-container, mjx-container * {
    color: #5babff !important;
}
</style>
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>